In [1]:
# Q:4
y=float(input("Enter your number:"))
if y > 0:
    print("Number is positive.")
elif y < 0:
    print("Number is negative.")
else:
    print("Number is zero.")

Enter your number: 0

Number is zero.

In [10]:
#Q:5
def fact(a):
    r=1
    for h in range(1,a+1):
        r*=h
    return r

print(fact(8))
print(fact(5))
print()
import math
math.factorial(8)

40320
120

40320

In [4]:
#Q:6
n = int(input("Enter the range (maximum number): "))
a, b = 0, 1
print("Fibonacci series up to", n, ":")
while a <= n:
    print(a, end=" ")
    a, b = b, a + b

Enter the range (maximum number):  20

Fibonacci series up to 20 :
0 1 1 2 3 5 8 13

In [9]:
#Q:9 with temporary variable.
a=int(input("enter your number (a):"))
b=int(input("enter your number (b):"))
temp=a
a=b
b=temp
print("with temp (a):",a)
print("with temp (b):",b)

# without temporary variable.
a=int(input("enter your number (a):"))
b=int(input("enter your number (b):"))
a,b=b,a
print("without temp (a):",a)
print("without temp (b):",b)

enter your number (a): 8
enter your number (b): 9

with temp (a): 9
with temp (b): 8

enter your number (a): 7
enter your number (b): 5

without temp (a): 5
without temp (b): 7

In [18]:
#Q:10
t=int(input("enter your number:"))
if t%2==0:
    print("your number is even.")
else:
    print("your number is odd.")

enter your number: 5

your number is odd.

In [46]:
#Q:11
q=(input("enter your letter:")).lower()
if len(q)==1 and q.isalpha():
    if q in["a","e","i","o","u"]:
        print("the letter is a vowel.")
    else:
        print("the letter is not vowel.")

enter your letter: a

the letter is a vowel.

In [55]:
#Q:12
w=int(input("enter your number:"))
a=int(input("enter your number:"))
z=int(input("enter your number:"))

if w==a or w==z or a==z:
    print("the sum is:",0)
else:
    print("the sum is:",w+a+z)

enter your number: 8
enter your number: 5
enter your number: 5

the sum is: 0

In [62]:
#Q:13
m=int(input("enter first number:"))
n=int(input("enter secoand number:"))
if m==n or (m+n==5) or (m-n==5):
    print(True)
else:
    print(False)

enter first number: 10
enter secoand number: 5

True

In [65]:
#Q:14
n=int(input("enter your number:"))
total=0
for i in range(1,n+1):
    total+=i
print("sum of first",n,"positive interger is",total)

enter your number: 20

sum of first 20 positive interger is 210

In [79]:
#Q:16
text="hello..good morning."
t={}
for g in text:
    if g in t:
        t[g]+=1
    else:
        t[g]=1
print("charachter frequency:")
for g,count in t.items():
    print("'{}',{}".format(g,count))

charachter frequency:
'h',1
'e',1
'l',2
'o',4
'.',3
'g',2
'd',1
' ',1
'm',1
'r',1
'n',2
'i',1

In [1]:
#Q:18
j="hello world,hello universe."
j.count("hello")

2

In [2]:
#Q:19
j="python is easy to learn and python fun to use."
i=j.split()
f={}
for k in i:
    if k in f:
        f[k]+=1
    else:
        f[k]=1
for k,count in f.items():
    print("'{}',{}".format(k,count))

'python',2
'is',1
'easy',1
'to',2
'learn',1
'and',1
'fun',1
'use.',1

In [1]:
#Q:20
def swap(str1,str2):
    a,b=str1[:2],str1[2:]
    c,d=str2[:2],str2[2:]
    a,c=c,a
    return "{}{} {}{}".format(a, b, c, d)
r="hello"
b="world"
print(swap(r,b))

wollo herld

In [17]:
#Q:21
def string(t):
    if len(t)<3:
        return t
    elif t.endswith("ing"):
        return t+"ly"
    else:
        return t+"in"
print(string("play"))
print(string("playing"))
print(string("go"))

playin
playingly
go

In [25]:
#Q:22
def reverse(t):
    if len(t) % 4 == 0:
        return t[::-1]
    else:
        return t
print(reverse("abcd"))    
print(reverse("hello"))     
print(reverse("abcdefgh"))

dcba
hello
hgfedcba

In [4]:
#Q:23
c=input("enter your latters:")
if len(c)<2:
    print("")
else:
    print (c[:2]+c[-2:])

enter your latters: python

pyon

In [11]:
#Q:24
b="my name {} and i'm from {}".format("is python","surat")
print(b)

my name is python and i'm from surat

In [17]:
#Q:29
r=[1,41,7,8,9,25,4]
print("maximum:",max(r))
print("minimum:",min(r))
print("sum:",sum(r))

maximum: 41
minimum: 1
sum: 95

In [29]:
#Q:31
k=input("enter your sentance:")
count=0
for h in k:
    if len(k)>=2 and k[0]==k[-1]:
        count+=1
print(count)

enter your sentance: avaca

5

In [30]:
#Q:32
v=[1,2,4,8,7,4,8,9,1,2]
d=list(set(v))
print(d)

[1, 2, 4, 7, 8, 9]

In [32]:
#Q:33
s=[]
if len(s)==0:
    print("list is empty.")
else:
    print("list is not empty.")

list is empty.

In [42]:
#Q:34
g=["pink","red","blue"]
f=["blue","green","yellow"]
if h in g:
    if h in f:
        print(True)
    else:
        print("not found")

True

In [46]:
#Q:35
e= [i**2 for i in range(1,31)]
print("first 5:",e[:5])
print("last 5:",e[-5:])

first 5: [1, 4, 9, 16, 25]
last 5: [676, 729, 784, 841, 900]

In [51]:
#Q:36
b=[1,8,2,6,2,4,4,8,5,9]
k=[]
for m in b:
    if m not in k:
        k.append(m)
print(k)

[1, 8, 2, 6, 4, 5, 9]

In [56]:
#Q:37
b=["my","name","is","python"]
i=" ".join(b)
print(i)

my name is python

In [60]:
#Q:38
import random
n=[1,2,8,9,7,5,6]
t= random.choice(n)
print(t)

1

In [68]:
#Q:39
d=[1,4,5,3,2,1,2]
set(d)
g=list(set(d))
print(g)
print("second smallest:",g[1])

[1, 2, 3, 4, 5]
second smallest: 2

In [70]:
#Q:40
v=["pink","red","yellow","pink","red","yellow","black"]
f=list(set(v))
print(f)

['yellow', 'red', 'black', 'pink']

In [63]:
#Q:41
h=[1,2,33,7,8,9,4,5]
n=[8,9,4]
if str(n)[1:-1] in str(h):
    print("this list contain sublist.")
else:
    print("this list does not contain sublist.")

this list contain sublist.

In [73]:
#Q:42
g=["hi","jk","lm","op"]
a,b,c,d=g
print(a)
print(b)
print(c)
print(d)

hi
jk
lm
op

In [76]:
#Q:44
name=input("enter your name:")
age=int(input("enter your age:"))
height=float(input("enter your height:"))
student=(name,age,height)
print("student:",student)

enter your name: nisha
enter your age: 21
enter your height: 5.5

student: ('nisha', 21, 5.5)

In [22]:
#Q:45
m=[(1,2,3),(4,5,6),(7,8,9)]
a,b,c=zip(*name)
print(list(a))
print(list(b))
print(list(c))

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [19]:
#Q:46
o=[("a",2),("s",5),("h",8)]
a=dict(o)
print(a)

{'a': 2, 's': 5, 'h': 8}

In [24]:
#Q:47
v=(("name:","nisha"),("age:",21),("city:","ahemedabad"))
dict(v)

{'name:': 'nisha', 'age:': 21, 'city:': 'ahemedabad'}

In [44]:
#Q:48
students={"a":5,"b":2,"c":9,"d":8}
v=dict(sorted(students.items(),key=lambda item:item[1])) 
t=dict(sorted(students.items(),key=lambda item:item[1], reverse=True)) 
print("ascending:",v)
print("descending:",t)

ascending: {'b': 2, 'a': 5, 'd': 8, 'c': 9}
descending: {'c': 9, 'd': 8, 'a': 5, 'b': 2}

In [1]:
#Q:49
employee1={"name":"a","id":123}
employee2={"name2":"b","id2":456}
concatenate={**employee1,**employee2}
print(concatenate)

{'name': 'a', 'id': 123, 'name2': 'b', 'id2': 456}

In [56]:
#Q:50
employees={"shiv":"manager","id1":789,
           "shashtri":"accountant","id2":741,
           "sharma":"marketing","id3":897}
if "shashtri" in employees:
    print("yes, sharma exists.")
else:
    print("no, sharma dose not exists.")

yes, sharma exists.

In [57]:
#Q:51
student={"name":"john","age":21}
for key,value in student.items():
    print(key, "=",value)

name = john
age = 21

In [60]:
#Q:53
w={num:num+1 for num in range(1,15)}
print(w)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15}

In [69]:
#Q:54
employees={"shiv":"manager","id1":789,
           "shashtri":"accountant","id2":741,
           "sharma":"marketing","id3":897,
           "verma":"finance","id4":7533}
if "shiv" in employees and "sharma" in employees:
    print("yes, they exists.")
else:
    print("no, they not exists.")

yes, they exists.

In [3]:
#Q:55
dict1={'x': 10, 'j': 20}
dict2={'y': 30, 'z': 40}
merge={**dict1,**dict2}
print(merge)

{'x': 10, 'j': 20, 'y': 30, 'z': 40}

In [10]:
#Q:56
list1=["a:","b:","c:","d:"]
list2=[100,200,300,400]
r=dict(zip(list1,list2))
print(r)

{'a:': 100, 'b:': 200, 'c:': 300, 'd:': 400}

In [14]:
#Q:57
dict1={"a":150,"b":500,"c":200,"d":100,"e":50}
highest=sorted(dict1.items(), key=lambda item: item[1], reverse=True)[:3]
print(highest)

[('b', 500), ('c', 200), ('a', 150)]

In [16]:
#Q:58
data= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':300},{'item': 'item1', 'amount': 750}] 
y={}
for z in data:
    item = z['item']
    amount = z['amount']
    
    if item in y:
        y[item] += amount
    else:
        y[item] = amount
combained=[{'item': k, 'amount': v} for k, v in y.items()]
print(combained)

[{'item': 'item1', 'amount': 1150}, {'item': 'item2', 'amount': 300}]

In [17]:
#Q:59
text="hello world"
counts={}
for i in text:
    if i in counts:
        counts[i]+=1
    else:
        counts[i]=1
print(counts)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [21]:
#Q:61
import math
math.factorial(4)

24

In [31]:
#Q:62
k=int(input("enter your number:"))
if k not in range(1,70):
    print("number is out of the range.")
else:
    print("number is in the range.")

enter your number: 40

number is in the range.

In [45]:
#Q:63
n=int(input("enter your number:"))
t=0
for i in range(1,n):
    if n%i==0:
        t+=i
if t==n:
    print("yes, it is perfect number.")
else:
    print("no, its not perfect number.")

enter your number: 15

no, its not perfect number.

In [51]:
#Q:64
text=input("enter your text:")
if text==text[::-1]:
    print("yes, this string is palindrome.")
else:
    print("no, this string is not palindrome.")

enter your text: level

yes, this string is palindrome.

In [21]:
#Q:72
d=open("abcde.txt")
print(d.read())

  hello world
  hello python

In [22]:
#Q:73
d=open("abcde.txt","a")
d.write("  good morning")
d.close()
d=open("abcde.txt","r")
print(d.read())
d.close()

  hello world
  hello python
  good morning

In [24]:
#Q:74
d=open("abcde.txt","r")
print(d.readline())

  hello world

In [76]:
#Q:81
my_list = ["Apple", "Banana", "Cherry", "Mango"]
file_path = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
with open(file_path, "w") as file:
    for item in my_list:
        file.write(item + "\n")
print("List written to file successfully.")

List written to file successfully.

In [69]:
#Q:75
line=2
current_line=1
with open("C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt", "r") as g:
    for n in g:
        if current_line == line:
            print(f"n {current_line}: {n.strip()}")
            break
        current_line += 1

n 2: Banana

In [68]:
#Q:76
file_path="C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
with open(file_path, "r") as file:
    lines_list = file.readlines()
lines_list = [line.strip() for line in lines_list]
print(lines_list)

['Apple', 'Banana', 'Cherry', 'Mango']

In [67]:
#Q:77
file_path = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
with open(file_path, "r") as file:
    v = ""
    for line in file:
        v+= line  
print(v)

Apple
Banana
Cherry
Mango

In [72]:
#Q:78
file_path = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
with open(file_path, "r") as f:
    words = f.read().split() 
max_len = len(max(words, key=len))
for word in words:
    if len(word) == max_len:
        print(word)

Banana
Cherry

In [66]:
#Q:79
file_path = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
with open(file_path, "r") as file:
    lines = file.readlines()
print("Number of lines:", len(lines))

Number of lines: 4

In [73]:
#Q:80
file_path = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
f = {}  
with open(file_path, "r") as file:
    for line in file:
        words = line.split()
        for word in words:
            word = word.lower().strip(".,!?()[]{}\"'")  
            if word in f:
                f[word] += 1
            else:
                f[word] = 1
for k, count in f.items():
    print("'{}',{}".format(k, count))

'apple',1
'banana',1
'cherry',1
'mango',1

In [77]:
#Q:82
source_file = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july1.txt"
destination_file = "C:\\Users\\Sumit\\OneDrive\\Desktop\\july2.txt"
with open(source_file, "r") as src, open(destination_file, "w") as dest:
    for line in src:
        dest.write(line)
print("File copied successfully.")

File copied successfully.

In [3]:
#Q:89
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("You cannot divide by zero.")
except ValueError:
    print("Invalid input. Please enter a number.")
else:
    print("Result is:", result)
finally:
    print("Execution finished.")

Enter a number:  5

Result is: 2.0
Execution finished.

In [8]:
#Q:90
try:
    number=int(input("enter your number:"))
    if number%2==0:
        raise ValueError("only odd numbers are allowed.")
except ValueError as ve:
    print("Exception:", ve)
else:
    print("You entered an odd number:",number)
finally:
    print("execution finished.")

enter your number: 3

You entered an odd number: 3
execution finished.